<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Admin.master.cs" Inherits="Health_Care_Pharmacy.Views.Admin.Admin" %>

<!DOCTYPE html>

<html>
<head runat="server">
    <title></title>
    <link rel="stylesheet" href="../../Assets/Lib/css/bootstrap.min.css" />
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <form id="form1" runat="server">
        <div>
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Dash Board</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="Medicines.aspx">Medicines</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="Categories.aspx">Categories</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="Sellers.aspx">Sellers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="Login.aspx">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
            <asp:ContentPlaceHolder ID="Mybody" runat="server">
            </asp:ContentPlaceHolder>
        </div>
    </form>
</body>
</html>
